Thumbs.db
.DS_Store
desktop.ini

.vscode/
!.vscode/settings.json

*.log
*.tmp
*.bak
*.swp
*.swo

.history

*.zip
*.tar
*.gz
*.rar
*.7z

scratch/
notes_private/
screenshots_private/

*.ova
*.ovf
*.vdi
*.vmdk
*.vmx
*.vbox

node_modules/
**pycache**/
*.pyc

*.key
*.pem
*.env
secrets/
credentials/
